.col-xs-6.value-container
  label.control-label(for='value') Magnitude
  input.form-control(type='number' name='value' value='{{ value }}'
                     step='any' required='required')
.col-xs-6.unit-container
