.col-xs-6.value-container
  label.control-label(for='value') Magnitude
  input.form-control(type='text' name='value' value='{{ value }}'
                     required='required')
.col-xs-6.unit-container
