.col-xs-6.value-container
  label.control-label(for='value') Magnitude
  p.form-control-static(name='value') {{ value }}
.col-xs-6.unit-container
  label.control-label(for='unit') Unit
  p.form-control-static(name='unit') {{ description }}
