.form-group
  .col-xs-9.col-xs-offset-3.left-container
.form-group
  .col-xs-3.operator-container
    label.control-label(for='operator') Operator
    select.form-control(name='operator')
      option(value='convert_to') &#8658;
      option(value='+') +
      option(value='-') -
      option(value='*') *
      option(value='/') /
  .col-xs-9.right-container
hr
.result-container
