.form-group
  .col-md-5.left-container
  .col-md-2.operator-container
    .form-group
      .col-sm-12
        label.control-label(for='operator') Operator
        select.form-control(name='operator')
          option(value='convert_to') &#8658;
          option(value='+') +
          option(value='-') -
          option(value='*') *
          option(value='/') /
  .col-md-5.right-container
.result-container
