.row.left-container
.row
  .small-12.columns.operator
    select(name='operator')
      option(value='convert') Convert
      option(value='+') +
      option(value='-') -
      option(value='*') *
      option(value='/') /
.row.right-container
.row.result-container
