.col-xs-5.value-container
  label.control-label(for='value') Magnitude
  input.form-control(type='number' name='value' value='{{ value }}'
                    required='required')
.col-xs-7.unit-container
