block vars
doctype
html.no-js(lang='en')
  head
    meta(charset="utf-8")
    meta(name="description" content="Unitwise is a Ruby library for working with physical quantities and units of measure. It supports conversion, comparison and arithmetic on wide range of units.")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Unitwise - Units of Measure and Physical Quantities Calculator

    link(rel='stylesheet', href='styles/application.css')

    script(type="text/javascript", src="scripts/application.js")

  body
    .container
      .row
        .col-md-8.col-md-offset-2
          h1 Unitwise
          p.lead Units of Measure and Physical Quantity Calculator
          <!--[if lt IE 9]>
          p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browsehappy.com/">upgrade your browser</a>
            | to improve your experience.
          <![endif]-->

          block content
