extends layouts/master

block content
  form#unitwise.form-horizontal
  footer.info
    h4
      | This calculator was built with 
      a(href='https://github.com/joshwlewis/unitwise') Unitwise
      |, an open-source Ruby library.
    p.
      This exists as a showcase for some of Unitwise's functionality, but you can
      use it however you like. For more information, downloads, and usage 
      instructions, please see:

    dl.dl-horizontal
      dt Github
      dd
        a(href='https://github.com/joshwlewis/unitwise') joshwlewis/unitwise
      dt RubyDoc
      dd
        a(href='http://rubydoc.info/gems/unitwise/frames/index') Unitwise
      dt RubyGems
      dd
        a(href='https://rubygems.org/gems/unitwise') Unitwise