extends layouts/master

block content
  .row
    .col-md-7
      form#unitwise.form-horizontal
    .col-md-4.col-md-offset-1
      h4 This is a demo application for Unitwise.
      p It exists to showcase some of it's builtin functionality. For more information, downlaods, and usage instructions, please see:

      dl.dl-horizontal
        dt Github
        dd
          a(href='https://github.com/joshwlewis/unitwise') joshwlewis/unitwise
        dt RubyDoc
        dd
          a(href='http://rubydoc.info/gems/unitwise/frames/index') Unitwise
        dt RubyGems
        dd
          a(href='https://rubygems.org/gems/unitwise') Unitwise